*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: Georgia, Times, Times New Roman, serif;
  line-height: 1.5;
  margin: 0 auto 50vh;
  max-width: 50em;
  padding: 0 1em;
}

pre {
  font-size: 120%;
  padding: .25em .5em;
}

p code {
  border: 1px dotted darkgrey;
  padding: .125em .25em;
}

a {
  color: teal;
}
